<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
           <img src="/images/max_kelly.png" alt="Image of Max" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <h1> About Max </h1>
            <p> I first started my experience with CoderAcademy in 2019</p>
        </div>
    </div>
</div>