<div id="homepage" class="container-fluid"> 
    <h1> Hi Reveller! </h1>
    <h3> This is where you can get all the Revel information and updates. </h3>
</div>

<div class="container-fluid">
    <h3> Below are some quick important links to help you get around Revel. </h3>
</div>